div.headerRow {
    background:#CDD3D5 url('../logo_footer.png') no-repeat left center;
    backgroun-size:cover;
    height:3em;
    padding:0;
    margin:0;

}
div.headerRow h5 {
    color:#343633;
    font-size:1.9rem;
    line-height:2em;
}